$background-color: #000000;
$primary-color: #ffffff;
$header-background-gradient: linear-gradient(90deg, rgba(30,0,45,1) 0%, rgba(79,9,121,1) 35%, rgba(166,0,255,1) 63%, rgba(0,123,255,1) 100%);

:root{
    --header-background-gradient: linear-gradient(90deg, rgba(30,0,45,1) 0%, rgba(79,9,121,1) 35%, rgba(166,0,255,1) 63%, rgba(0,123,255,1) 100%);
    --background-color: #000000;
    --primary-color: #ffffff;
}